#root {
  max-width: 100VW;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

hr {
  width: 85VW;
  margin: 10px;
  max-width: 700px;

}

.file-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-wrapper input {
  margin-top: 10px;
  height: 45px;
}

.file-input-wrapper input::file-selector-button {
  margin-right: 20px;
}

textarea {
  margin-top: 15px;
  min-width: 300px;
  min-height: 300px;
}

.checkbox-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

i {
  margin-bottom: 10px;
  display: inline-block;
}

.instructions {
  font-size: small;
  font-style: italic;
}

.page-nav {
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
}

.nav-day-link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #888;
  min-width: 300px;
  width: 90VW;
  max-width: 700px;
  margin-bottom: 10px;
}

.nav-day-link a:hover {
  background-color: black;
}

.app-image {
  border-radius: 10px;
}